* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid green;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

main {
	display: block !important;
}

img {
	display: block;
}
